:root {
  --primary-font: "Inter", -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto,
    noto, helvetica, arial, sans-serif;
  --monospace-font: "JetBrains Mono", monospace;
  /* 20px target / 16px root = 1.25em */
  --h2-font-size: 1.25em;
  --table-header-font-size: 1.15em;
  --io-label-font-size: 1.25em;
  --nav-element-font-size: 0.95em;
  /* 12px target /16px root = 0.75em */
  --monospace-font-size: 0.75em;
  --app-outline-color: #e5e5e5;
  --table-outline-color: #e5e5e5;
  --table-border-radius: 6px;
  --table-input-padding: 0.35em 0.35em;
  --subtitle-font-color: #737373;
}

/* ======================== */
/*  Appearance              */
/* ======================== */

/* Tables and Inputs */
#memory-view table,
#cpu table,
input {
  border: 1px solid var(--table-outline-color);
  border-radius: var(--table-border-radius);
}

/* #opcode-view {
    border-left: 1px solid var(--app-outline-color);
} */

/* Remove weird spacing from the first header in the memory view */
section#memory-view thead th:first-child {
    padding-left: 0;
}

/* ======================== */
/*  Typography              */
/* ======================== */

/* Global */

html {
  font-size: 16px;
}

body {
  font-family: var(--primary-font);
}

/* Navigation */

.nav-view-button {
  font-weight: 500;
  font-size: var(--nav-element-font-size);
}

.nav-view-button:hover {
  text-decoration: underline;
  text-decoration-thickness: 1.75px;
  /* 25% offset? 16px * 0.25 = 4px*/
  text-underline-offset: 4px;
}

/* Main */

/* I/O */

#input label,
#output label {
  font-weight: 500;
  font-size: var(--io-label-font-size);
}

/* Tables */

.base-10-label {
  font-size: 0.75em;
  font-weight: 500;
  color: var(--subtitle-font-color);
}

th {
  /* Medium weight */
  font-weight: 500;
  font-size: var(--table-header-font-size);
}

/* table caption */
.table-title {
  text-align: left;
  font-weight: 500;
  font-size: var(--h2-font-size);
}

/* CPU Table */

#cpu table tbody tr td:first-child,
#cpu-table-header-register,
#cpu-table-header-value {
  text-align: left;
}

/* Memory Table */
#memory-table-header-address {
  text-align: center;
}

#memory-table-header-value {
  text-align: left;
}

/* Opcode Table */

#opcode-table-header-binary,
tbody tr td:nth-child(1) {
  text-align: center;
}

#opcode-table-header-instruction,
tbody tr td:nth-child(2) {
  text-align: center;
}

#opcode-table-header-explanation,
tbody tr td:nth-child(3) {
  text-align: left;
}

#opcode-view code {
  font-family: var(--monospace-font);
  font-optical-sizing: auto;
}

#opcode-view td {
  font-size: var(--monospace-font-size);
}
