
@media (prefers-color-scheme: dark) {
  #instruction-set-tab table {
    border: 1px solid var(--table-outline-color);
    border-radius: var(--table-border-radius);
  }

  code {
    color: var(--inline-code-font-color);
  }
}

/* ======================== */
/*  Appearance              */
/* ======================== */

#logo {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.75em;
}

/* #logo svg path {
  fill: var(--stripe-green-500);
} */

body {
  margin: 12px 0;
  background-color: var(--page-bg-color);
  color: var(--default-font-color);
}

#memory-controls {
  background-color: var(--page-bg-color);
}

#app-wrapper {
  height: 98vh;
}

#app-title {
    margin: 0;
    font-size: var(--app-title-font-size);
    text-transform: lowercase;
    font-weight: 500;
}

/* Tables and Inputs */
#memory-view table,
#cpu table,
input,
#input table,
#output table {
  border: 1px solid var(--table-outline-color);
  border-radius: var(--table-border-radius);
}

/* empty memory cells should be a bit dimmer. */
#memory-view input:empty::placeholder,
input[readonly]::placeholder,
input [disabled]::placeholder,
#input input:empty::placeholder {
  color: var(--input-placeholder-font-color-disabled);
}

/* Outline the current address row  */
#memory-view table tbody tr:has([id^="mem-active-"]:not(:empty)) {
  outline: 1px solid var(--ibm-blue-60);
}

/* #instruction-set-tab {
    border-left: 1px solid var(--app-outline-color);
} */

/* Remove weird spacing from the first header in the memory view */
section#memory-view thead th:first-child {
  padding-left: 0;
}

/* .current-address::before {
  content: "●";
  padding-right: 0.5em;
  color: orange;
  font-size: 0.85em;
  animation: 1.75s ease-in 1s infinite reverse both slow-dot-pulse;
} */

#log-window-tab textarea::placeholder {
  font-family: var(--primary-font);
}

textarea {
  color: inherit;
  border: var(--textarea-border);
  padding: 0.85rem;
  border-radius: 6px;
  background-color: var(--textarea-bg-color);
}

#log-window-tab textarea,
#assembly-window-tab textarea,
#assembly-window-tab textarea::placeholder {
  font-family: var(--monospace-font);
}

/* preserve linebreaks for javascript... */
textarea#assembly-window {
    white-space: pre-wrap;
}


/* Prefer square outlines to focus - helps differentiate between non-focused buttons (as buttons are round.) */
button:focus-visible {
  border-radius: 0;
}

/* Focus more on the non-empty cells */
input:placeholder-shown {
  opacity: 0.3;
}

/* ======================== */
/*  Typography              */
/* ======================== */

/* Global */

body {
  font-family: var(--primary-font);
}

button {
  font-family: var(--primary-font);
}


h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: 500;
}

h4 {
  font-size: var(--h4-font-size);
}

h1,
h2,
h3,
h4 {
  /* reset margins */
  margin: 0;
}

footer {
  font-size: var(--footer-font-size);
  color: var(--footer-font-color);
  font-family: var(--monospace-font);
  text-align: baseline;
}

footer p {
  margin: 0;
  padding: 0;
}
footer a {
  color: inherit;
  text-decoration: none;
}

footer a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
  text-decoration-thickness: 1.25px;
  text-underline-offset: 4px;
}

.link-with-icon {
  display: inline-flex;
  align-items: center;
  gap: 0.4em;
  vertical-align: middle;
  padding-left: 0.25rem;
}

footer p {
  display: inline-flex;
  align-items: center;
}

dd {
  /* Limit definition descriptions to a readable limit. */
  max-width: var(--character-limit);
  line-height: var(--relaxed-line-height);
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Navigation */

.nav-view-button {
  font-weight: 400;
  font-size: var(--nav-element-font-size);
  color: var(--inactive-nav-tab-font-color);
  text-align: left;
}

/* Keep track of our current nav view */

.nav-view-button:hover,
.on-main #view-main-button,
.on-log-window #view-log-window-button,
.on-assembly-window #view-assembly-window-button,
.on-instruction-set #view-instruction-set-button,
.on-settings #view-settings-button {
  color: var(--active-nav-tab-font-color);
  text-decoration: underline;
  text-decoration-thickness: 1.75px;
  /* 25% offset? 16px * 0.25 = 4px*/
  text-underline-offset: 4px;
}

/* Inline-code prettier */

code {
  font-size: var(--monospace-font-size);
  padding-block: var(--inline-code-padding-block);
  padding-inline: var(--inline-code-padding-inline);
  background: var(--inline-code-bg-color);
  border-radius: var(--inline-code-border-radius);
  border: 1px solid var(--inline-code-border-color);
  font-family: var(--monospace-font);
  font-optical-sizing: auto;
}

/* hide empty code cells. */
code:empty {
  display: none;
}

input {
  font-family: var(--monospace-font);
}

input::placeholder {
  color: var(--input-placeholder-font-color);
}

#memory-view input,
#cpu input {
  font-weight: 300;
}

/* Buttons */

button {
  font-size: var(--button-font-size);
}

/* I/O */

#input label,
#output label {
  font-weight: 500;
  font-size: var(--io-label-font-size);
}

/* Labels */

.instruction-label {
  font-family: var(--monospace-font);
  font-size: var(--monospace-font-size);
  color: var(--secondary-text-font-color);
  margin-bottom: 0.25em;
  white-space: nowrap;
}

.instruction {
  color: var(--instruction-syntax-highlight-color);
}

[id^="mem-addr-"] label {
  font-family: var(--monospace-font);
  font-size: var(--monospace-font-size);
  color: var(--secondary-text-font-color);
}

/* [id^="mem-active-"] {
  color: var(--active-dot-color);
  font-size: 0.85em;
  animation: 1.85s ease-in 1s infinite reverse both slow-dot-pulse;
} */

[id^="mem-active-"] {
  color: var(--active-memory-arrow-color);
  font-size: 1.5em;
  font-weight: 700;
  vertical-align: baseline;
}

[id^="mem-active-"].inactive {
  color: var(--inactive-dot-color);
  animation: none;
}

/* Extra gutter */
details[open] summary {
  margin-bottom: 0.85rem;
}

/* Tables */

th {
  /* Medium weight */
  font-weight: 500;
  font-size: var(--table-header-font-size);
}

/* table caption */
.table-title {
  text-align: left;
  font-weight: 500;
  font-size: var(--h2-font-size);
}

.table-description {
  line-height: var(--relaxed-line-height);
  font-size: var(--small-font-size);
}

/* CPU Table */

#cpu table tbody tr td:first-child,
#cpu-table-header-register,
#cpu-table-header-value {
  text-align: left;
}

#cpu table {
  font-size: var(--cpu-label-font-size);
}

.register-active {
  outline: var(--register-active-outline);
}

/* Add an arrow right before the Register name */
.register-active [id^="reg-label-"] label::before {
  content: "→ ";
  color: var(--colorblind-green);
}

/* starts with, ends with */
/* make sure the labels are always aligned with the input (typogreaphy baseline refers to the bottom of the letters) */
[id^="reg-val-"][id$="-asm"] {
  vertical-align: baseline;
}

/* Memory Table */
#memory-table-header-address {
  text-align: center;
}

#memory-table-header-value {
  text-align: left;
}

/* Center text */
[id^="mem-addr-"] label {
  display: flex;
  justify-content: center;
}

[id^="mem-val-"][id$="-asm"],
[id^="mem-addr-"] {
  vertical-align: baseline;
}

/* mem-val-${i}-asm */
[id^="mem-val-"][id$="-asm"] {
  text-align: center;
}

[id^="mem-val-"] input {
  font-size: 0.85em;
}

/* I/O Tables */

#input th,
#output th {
  text-align: left;
}

#input td,
#output td {
  text-align: baseline;
}

/* Opcode View */

#instruction-set-tab td {
  font-size: var(--monospace-font-size);
}

#instruction-set-tab td:nth-child(3) {
  color: var(--secondary-text-font-color);
}

#instruction-set-tab dd {
  font-size: var(--dd-font-size);
}

.opcode-instruction,
[id$='-instruction'] {
  color: var(--instruction-syntax-highlight-color);
}

/* Memory Data Format Table */

#memory-data-format-table th,
#memory-data-format-table td {
  text-align: left;
}

#memory-data-format-table th {
  padding-bottom: 1em;
}

#memory-data-format-table td:nth-child(odd) {
  padding-right: 1em;
}

.memory-data-format-explanation {
  font-size: var(--dd-font-size);
}

/* Interactive Text */

/* Disable for now, due to new navigation tab layout. */
/* .focus-trigger {
  font-weight: 700;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #e5e5e5;
  text-decoration-offset: 2px;
} */

/* ======================== */
/*  Animations              */
/* ======================== */

@keyframes pulse-blue {
  0% {
    background: inherit;
  }

  50% {
    background: #0ea5e9;
  }

  100% {
    background: inherit;
  }
}

.pulse-blue {
  animation: pulse-blue 0.65s ease-out;
}
/* default */

.register-update {
  animation: pulse-blue var(--normal-animation-speed) ease-out;
}

.speed-normal .register-update {
  animation-duration: var(--normal-animation-speed);
}

.speed-fast .register-update {
  animation-duration: var(--fast-animation-speed);
}

.speed-instant .register-update {
  animation-duration: var(--instant-animation-speed);
}

@keyframes slow-dot-pulse {
  0% {
    opacity: 100%;
  }

  50% {
    opacity: 50%;
  }

  100% {
    opacity: 100%;
  }
}
