@media (prefers-color-scheme: dark) {
  button {
    color: var(--button-font-color);
  }

  input {
    background-color: var(--input-bg-color);
    border: 1px solid var(--input-outline);
    color: var(--input-font-color);
  }

  *:focus-visible {
    outline: var(--focus-outline);
  }
}

/* 
  Components

  These are buttons; interactive elements or smaller bundled elements for UI

*/

/* ======================== */
/*  Buttons                 */
/* ======================== */

/* TODO: hover styles (variables)  */

button {
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  cursor: pointer;
}

.compact-button {
  padding: 0.5rem 0.75rem;
}

.nav-view-button {
  background: none;
  border: none;
  cursor: pointer;
}

.primary-button {
  color: var(--primary-button-font-color);
  background-color: var(--primary-button-bg-color);
  border: 1px solid var(--primary-button-outline);
}

.primary-button:hover {
  background-color: var(--primary-button-bg-hover-color);
}

.secondary-button {
  background-color: var(--secondary-button-bg-color);
  border: 1px solid var(--secondary-button-outline);
}

.secondary-button:hover {
  background-color: var(--secondary-button-bg-hover-color);
}

button {
  transition: background-color 0.1s ease-in;
}

.destructive-button:hover {
  color: white;
  background-color: var(--destructive-button-bg-color) !important;
  border: 1px solid transparent;
}

.tertiary-button {
  background: none;
  border: 1px solid var(--tertiary-button-outline);
}

.tertiary-button:hover {
  background-color: var(--tertiary-button-bg-hover);
}

select {
  color: var(--select-font-color);
  background-color: var(--select-bg-color);
  border: 1px solid var(--select-outline);
  /* gutter for dark mode */
  margin: var(--input-outline-gutter);
  background: none;
  /* border: 2px solid var(--tertiary-button-outline); */
  padding: var(--select-button-padding);
  text-align: left;
  border-radius: var(--select-button-border-radius);
}

textarea {
  margin: var(--input-outline-gutter);
}

.cta-button {
  color: var(--cta-button-font-color);
  background-color: var(--cta-button-bg-color);
}

.cta-button:hover {
  background-color: var(--cta-button-hover-bg-color);
}

/* ======================== */
/*  Inputs                  */
/* ======================== */

.large-input {
  padding: 0.55em;
  max-width: 15em;
}

#memory-view input,
#cpu input,
#input input,
#output input {
  padding: var(--table-input-padding);
}

input[readonly] {
  opacity: 70%;
}

#reg-val-acc:focus-visible {
  border: var(--word-trigger-focus-outline);
}

.setting-row-item:has(.switch) {
  cursor: pointer;
}

/* non-selectable text. */
.setting-row .setting-title {
  user-select: none;
}

/* Switch toggle */
/* reference: https://www.w3schools.com/howto/howto_css_switch.asp */

.switch {
  position: relative;
  display: inline-block;
  width: var(--switch-width);
  height: var(--switch-height);
}

/* hide default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* OFF switch */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: var(--switch-off-bg-color);
  transition: 0.4s;
}

/* OFF toggle handle */
.slider:before {
  content: "";
  position: absolute;

  height: var(--handle-size);
  width: var(--handle-size);

  /* small offset for the handle */
  left: 3px;

  top: 50%;
  transform: translateY(-50%);
  background-color: var(--switch-off-handle-color);
  transition: 0.3s;
  border-radius: 50%;
}

/* ON toggle handle */
.switch input:checked + .slider {
  background-color: var(--switch-on-bg-color);
}

/* ON switch  */
.switch input:checked + .slider:before {
  transform: translateY(-50%) translateX(calc(var(--switch-height)));
  background-color: var(--switch-on-handle-color);
}

.slider.round {
  border-radius: 1000px;
}

/* to-do: move some of this to layout, base */
/* ======================== */
/*  Status                  */
/* ======================== */

#app-status-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  gap: var(--app-status-container-column-gutter);
  gap: 2rem;
  padding: 1rem;
  border: 1px solid var(--app-status-border-color);
  border-radius: var(--app-status-container-border-radius);
  background-color: var(--app-bg-color);
}

/* only add spacing when the instruction shows up */
#app-status-container:has(#current-instruction:empty) {
  gap: 0;
}

#app-status {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--app-status-gutter);
}

/* #app-status-bus {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end; */
/* Allows the ascii diagram to shrink at smaller viewports.
  clamp down on font size!

  https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/clamp
  */
/* font-size: clamp(0.6rem, 1.2vw, 1rem);
  white-space: nowrap;
} */

#app-status-bus {
  margin: 1rem 0;
}

#node-1-container,
#node-2-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#app-fetch-execute {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

/* 
  Tooltips
*/

.tooltip {
  position: relative;
  /* Manually adjust tooltip position depending on where it is! */
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;

  background-color: var(--tooltip-bg-color);
  color: var(--tooltip-font-color);
  padding: 0.5em 1em;
  border-radius: 6px;
  font-size: var(--small-font-size);

  white-space: nowrap;
  pointer-events: none;

  opacity: 0;
  visibility: hidden;
  font-size: 0.85em;
  /* Some 'magic' numbers to sort of 'pop in' */
  /*

  Pop-in:
  translateY, scale → start from bottom and go up. Classic design pattern

  Then make the tooltip visible.

  visibility: hidden → visible
  opacity: 0 → 1
  */
  transform: translateY(-4px) scale(0.96);
  transition: opacity 0.16s cubic-bezier(0.2, 0, 0, 1),
    transform 0.16s cubic-bezier(0.2, 0, 0, 1), visibility 0s linear 0.16s;
}

.tooltip:hover::after {
  /* finish the transition */
  opacity: 1;
  visibility: visible;
  transform: translateY(0) scale(1);
}

/* tooltip wrapper for input */
#io-input-wrapper {
  position: relative;
  display: inline-block;
}

/* override styles for tooltip; should always be visible */
#io-input-wrapper.tooltip::after {
  opacity: 1;
  visibility: visible;
  transform: translateY(0) scale(1);
  top: 125%;
  right: 0;
}

/* Manually adjust tooltip position depending on where it is! */
#toggle-nav-view::after {
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 1rem;
}

#app-controls .tooltip::after {
  bottom: -2.5em;
  left: 50%;
  transform: translateX(-50%);
}

/* Execution Monitor (mobile component only) */

#execution-monitor {
  display: none;
  width: 100%;
  flex-flow: row nowrap;
  gap: 0.75rem;
  font-family: var(--monospace-font);
  font-size: var(--monospace-font-size);
  align-items: anchor-center;
  background: black;
  color: white;
  border-radius: 3px;
  /* padding: 0.35rem 0.5rem; */
  padding: 0.5rem
}

#execution-monitor .instruction {
  color: var(--huetone-green-35);
}

#execution-monitor #monitor-indicator {
  font-weight: 400;
  color: white;
}

/* scrollbar visual aid */


.table-title:has(.scroll-arrow) {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.scroll-arrow {
  font-size: 2rem;
}


@media (max-width: 800px) {
  /* Make our ASCII diagram a biiit bigger on mobile devices */
  #app-status-bus {
    font-size: clamp(1rem, 2.5vw, 1.6rem);
  }

  /* hide tooltips on mobile view */
  .tooltip:hover::after {
    display: none;
  }

  #execution-monitor {
    display: flex;
  }
}
