/* ======================== */
/*  Global Layout           */
/* ======================== */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  /* reset margins */
  margin: 0;
}

#app-wrapper {
  flex-grow: 1;
  width: 100%;
  max-width: 1600px;
}

/* One column, three rows global layout
<HEADER>
<MAIN>
<FOOTER>
*/
header {
  grid-area: header;
}

main {
  grid-area: main;
  display: grid;
  /* padding: 0 2em 2em 2em; */
  padding: 0 1rem 1rem 1rem;
}

footer {
  grid-area: footer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  padding: 0.45rem 1rem;
  /* border-top: 1px solid var(--app-border-color); */
}

/* main > section {
  padding: 0 1em;
} */

main > section {
  padding: 0 2rem;
}

/* footer {
    grid-area: footer;
} */

#app-wrapper {
  display: grid;
  grid-template:
    "header"
    "main"
    "footer";
  gap: 1.5em;
  grid-template-rows: auto 1fr;
  margin: 0 1rem 1rem 1rem;
}

/* Three column grid layout within the main content */
section#main-view {
  grid-area: main-view;
}

section#memory-view {
  grid-area: memory-view;
}

nav#nav-view {
  grid-area: nav;
}

/* this is the control panel. */
#app-status-container {
  grid-area: control-panel;
}

/* section#instruction-set-tab {
  grid-area: instruction-set-tab;
} */

/* original spacing */
/* grid-template:
    "main-view memory-view instruction-set-tab" auto
    / 40% 30% 1fr; */

main {
  display: grid;
  grid-template-columns: 40% 1fr 20%;
  /* grid-template-areas: "memory-view main-view instruction-set-tab"; */
  grid-template-areas: "memory-view main-view nav";
  gap: 1em;
}

.compact-mode main {
  display: grid;
  grid-template-columns: 30% 1fr 20%;
  /* grid-template-areas: "memory-view main-view instruction-set-tab"; */
  grid-template-areas: "memory-view main-view nav";
  gap: 1em;
}

/* flex layout */
/* main {
  display: flex;
  flex-flow: row nowrap;
}

#memory-view {
  order: 0;
}

#main-view {
  order: 1;
  flex-grow: 1;
}

#instruction-set-tab {
  order: 2;
} */

textarea {
  resize: vertical;
}

/* ======================== */
/*  Header                  */
/* ======================== */

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  /* justify-content: flex-end; */
  align-items: center;
  padding: 1em 1.25em;
}

#app-controls {
  display: flex;
  align-items: center;
  gap: 1em;
}

/* ======================== */
/*  Navigation              */
/* ======================== */

/* Sidebar layout */
#nav-view nav {
  align-self: flex-start;
}
#nav-tabs-group {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2.5em;
}

#nav-view {
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
  align-items: flex-end;
}

.hidden-nav nav {
  display: none;
}

.hidden-nav main {
  grid-template-columns: 40% 1fr;
}

.hidden-nav.compact-mode main {
  grid-template-columns: 30% 1fr;
}
#toggle-nav-view {
  display: block;
  width: fit-content;
}

/* #nav-collapse-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hidden-nav #nav-collapse-container {
  flex-flow: column;
  gap: 1rem;
} */

/* Reverse the order of the title and collapse button  */
/* .hidden-nav #nav-view-title {
  writing-mode: sideways-rl;
  order: 1;
}

.hidden-nav #toggle-nav-view {
  order: 0;
} */

/* ======================== */
/*  Main View               */
/* ======================== */

section#main-view {
  gap: 2em;
  display: flex;
  flex-flow: column;
  overflow: auto;
}

main {
  overflow-y: auto;
}

#nav-tabs-group {
  padding: 0;
}

#nav-tabs-group li {
  list-style-type: none;
}

#main-tab,
#log-window-tab,
#assembly-window-tab,
#instruction-set-tab,
#settings-tab {
  display: none;
}

.on-main #main-tab,
.on-log-window #log-window-tab,
.on-assembly-window #assembly-window-tab,
.on-instruction-set #instruction-set-tab,
.on-settings #settings-tab {
  /* default to flex */
  display: flex;
  /* default gap */
  gap: 1rem;
}

section[id$="tab"] {
  flex-flow: row wrap;
}
/* ======================== */
/*  Main Tab                */
/* ======================== */

/* I/O */
#input,
#output {
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
}

#io-container {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
}

#io-container > * {
  flex-grow: 1;
  min-width: fit-content;
}

section#main-tab {
  flex-flow: column nowrap;
  gap: 1em;
}

#cpu-controls {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 0.75em;
  position: sticky;
  top: 0;
}

/* ======================== */
/*  General   Tabs          */
/* ======================== */

/* take up the whole row */
#log-window-tab h2,
#log-window-tab textarea,
#assembly-window-tab h2,
#assembly-window-tab textarea,
#settings-tab h2,
#settings-tab h3 {
  flex: 0 0 100%;
}

/* ======================== */
/*  Log Window Tab          */
/* ======================== */

/* ======================== */
/*  Assembly Tab            */
/* ======================== */

/* ======================== */
/*  Settings Tab            */
/* ======================== */

#settings-tab h2 {
  margin-bottom: 1rem;
}

#cpu-settings,
#ui-settings {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  flex: 0 0 100%;
}

.compact-mode thead {
  display: none;
}

.settings-list {
  flex: 0 0 100%;
}
.setting-row {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  list-style: none;
}

.setting-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.setting-title {
  font-weight: 500;
}

.setting-description {
  margin: 0 0 1em 0;
  font-size: var(--dd-font-size);
  opacity: 0.7;
}

/* ======================== */
/*  Memory View             */
/* ======================== */

#memory-view {
  display: flex;
  justify-content: center;
  overflow-y: auto;
  /* set position relative for sticky buttons on scroll. */
  position: relative;
}

#memory-view .table-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 1em;
  /* max-width: 100%; */
  flex-grow: 1;
  max-width: var(--memory-table-max-width);
}

/* Centers the RAM table when compact mode is on;
when not compact, this breaks the table layout (overflow issues)...
*/
.compact-mode #memory-view .table-container {
  max-width: 100%;
  align-items: center;
}

.mem-val-container input {
  width: 100%;
}

/* .mem-val-container .instruction-label {
  align-self: flex-start;
} */

#memory-controls {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: baseline;
  gap: 0.75em;
  position: sticky;
  top: 0;
}

.table-title,
#memory-view details,
#memory-controls {
  align-self: flex-start;
}

/* .hidden-nav #memory-controls{
  align-self: flex-start;
} */

#memory-view .base-10-label {
  display: none;
}

/* Fully display the inputs in the RAM
because otherwise it's hard to see the binary
*/
#memory-table {
  width: max-content;
}

#memory-table th {
  padding-right: 1em;
  padding-bottom: 1rem;
}

#memory-data-format-table caption {
  text-align: left;
  padding-bottom: 1em;
}

/* ======================== */
/*  IO                      */
/* ======================== */

.input-val-container,
.output-val-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: baseline;
  gap: 0.75em;
}

#input table,
#output table {
  border-spacing: var(--io-table-horizontal-cell-gap)
    var(--io-table-vertical-cell-gap);
}

#input th:first-child,
#output th:first-child {
  text-align: center;
}

/* ======================== */
/*  Opcode View             */
/* ======================== */

section#instruction-set-tab {
  overflow: auto;
}

#opcode-wrapper {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  width: 100%;
}

.opcode-headers {
  margin-bottom: 1.5em;
}

#opcode-list {
  margin-top: 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 1.25em;
}

h3.opcode-category-title {
  margin-bottom: 1.75rem;
}

/* .opcode-item:not(:last-child) */
.opcode-item {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75em;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--app-border-color);
}

.opcode-list > .opcode-item:last-child {
  border-bottom: none;
}

.opcode-item dd {
  padding: 0.5em 0 1em 0;
}

#instruction-set-table-header-binary,
tbody tr td:nth-child(1) {
  text-align: center;
}

#instruction-set-table-header-instruction,
tbody tr td:nth-child(2) {
  text-align: center;
}

#instruction-set-table-header-explanation,
tbody tr td:nth-child(3) {
  text-align: left;
}

/* gutter */
.opcode-item:nth-child(n + 2) dt {
  padding-top: 2rem;
}

/* ======================== */
/*  Tables                  */
/* ======================== */

/* #mem-view caption {
    margin-bottom: var(--mem-caption-gap);
}

#instruction-set-tab caption {
    margin-bottom: var(--opcode-caption-gap);
} */

.table-container {
  /* overflow: auto; */
  /* fixes safari bug? */
  display: block;
  /* Temporarily removed to let io-container fill-content */
  /* min-width: 100%; */
  overflow: visible;
}

#cpu .table-title {
  margin-bottom: var(--cpu-caption-gap);
}

#cpu table {
  /* width: 100%; */
  /* Let's use fit-content so the text labels are as close
  as possible to the input boxes for accessibility */
  width: fit-content;
}

/* #memory-view .table-title {
  margin-bottom: var(--mem-caption-gap);
} */

#memory-view .table-description {
  margin-top: 0;
}

#instruction-set-tab .table-title {
  margin-bottom: var(--opcode-caption-gap);
}

section#memory-view,
section#memory-view .table-container {
  overflow: auto;
}

#cpu table {
  border-spacing: var(--cpu-table-horizontal-cell-gap)
    var(--cpu-table-large-vertical-cell-gap);
}

#input table,
#output table {
}

/* #memory-view table {
  border-spacing: var(--mem-table-horizontal-cell-gap)
    var(--mem-table-large-vertical-cell-gap);
} */

#memory-table {
  align-self: flex-start;
}

#memory-table {
  /* padding: 1em 1em 0 1em; */
  padding: 1em;
}

#memory-data-format-table {
  padding: 1em;
}

#instruction-set-tab table {
  border-spacing: var(--instruction-set-table-horizontal-cell-gap)
    var(--instruction-set-table-vertical-cell-gap);
}

.mem-val-container,
.cpu-val-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 0.25em;
}

/* Bus Diagram */
/* Utility wrapper to make a responsive diagram */
#app-bus-diagram {
  display: flex;
  justify-content: center;
}

.svg-wrapper {
  width: 100%;
}

.svg-wrapper #bus-diagram {
  max-width: var(--bus-diagram-size);
  height: auto;
  display: block;
}

/*
  Media queries.
*/

/* This app is Desktop first, so I'm using max-width first, rather
than min-width breakpoints */

/* Mobile */
@media (max-width: 800px) {
  main,
  .hidden-nav main,
  .compact-mode main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "main-view"
      "memory-view";
    margin: 0 1rem;
  }

  /* Show the assembly window since you can't change tabs. */
  #assembly-window-tab {
    display: flex;
    gap: 1rem;
  }

.hidden-nav.compact-mode main {
    grid-template-columns: 1fr;
}

  #nav-view {
    display: none;
  }

  #app-wrapper {
    /* this is probably defined inside of the base file... */
    border: none !important;
  }

  main > section:not(:last-child) {
    border-right: none !important;
  }

  section#memory-view,
  section#memory-view .table-container,
  section#instruction-set-tab {
    justify-content: flex-start;
    /* overflow: unset; */
    overflow-x: auto;
  }

  main {
    padding: 0;
  }

  main > section {
    padding: 0 1rem;
  }

  #app-wrapper {
    margin: 0 1rem;
  }

  header {
    flex-flow: row wrap;
    gap: 1rem;
  }

  #app-load,
  #app-save {
    display: none;
  }

  #app-wrapper {
    height: 100%;
  }

  /* Also manually enable compact mode on mobile view */
  thead {
    display: none;
  }

  #memory-view .table-container {
    align-items: center;
  }

  #memory-table {
    align-self: center;
  }

  footer {
    justify-content: center;
  }
}

/* Tablets */

@media (min-width: 800px) and (max-width: 1024px) {
  /* main {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "memory-view main-view"
      "memory-view instruction-set-tab";
    gap: 1em;
  } */

  main > section:not(:last-child) {
    border-right: none !important;
  }

  #memory-view {
    border-right: 1px solid var(--app-border-color) !important;
  }
}
