@import "_variables.css";
@import "_base.css";
@import "_components.css";
@import "_bus-diagram.css";
@import "_control-panel.css";
@import "_onboarding.css";
@import "_layout.css";

* {
  box-sizing: border-box;
}

/* ======================== */
/*  Global App Appearance   */
/* ======================== */

html {
  font-size: var(--global-font-size-default);
}

#app-wrapper {
  border: 1px solid var(--app-border-color);
  border-radius: var(--app-border-radius);
}

/* Main View */

main > section:not(:last-child) {
  border-right: 1px solid var(--app-border-color);
}

header {
  border-bottom: 1px solid var(--app-border-color);
  border-radius: var(--app-border-color) var(--app-border-color) 0 0;
}

/* Normalise small fonts on Safari... but it doesn't work anyways lol */
/* @supports (font-size: clamp(1rem, 1vw, 1rem)) {
  html {
    font-size: clamp(15px, 1rem, 17px);
  }
} */
