@import '_base.css';
@import '_components.css';
@import '_layout.css';
@import '_theme.css';

:root {
    --app-border-color: #E5E5E5;
    --app-border-radius: 6px;
}

@media (prefers-color-scheme:dark) {
    :root {
        --app-border-color: #232323;
    }
}

* {
    box-sizing: border-box;
}

/* ======================== */
/*  Global App Appearance   */
/* ======================== */

#app-wrapper {
    border: 1px solid var(--app-border-color);
    border-radius: var(--app-border-radius);
}

/* Main View */

main > section:not(last-child){
    border-right: 1px solid var(--app-border-color);
}


header {
    border-bottom: 1px solid var(--app-border-color);
    border-radius: var(--app-border-color) var(--app-border-color) 0 0;
}